body {
    font: 300 100.1% "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
}
#holder {
    height: 480px;
    width: 640px;
    margin-left:20%;
    float:left;
}
#copy {
    bottom: 0;
    font: 300 .7em "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
    position: absolute;
    right: 1em;
    text-align: right;
}
#copy a {
    color: #fff;
}
#palette{
	float:left;
	width : 125px;
	font-family: 'Open Sans','Droid Sans',arial,sans-serif;
}

#palette ul{
	padding-left : 5px;
}

#palette h4{
	margin-bottom : 0px;
}

#palette ul{
	padding : 5px;
	padding-top : 0px;
}

#palette li{
	list-style-type: none;
	margin-bottom : 10px;
	font-size : 11px;
	font-family: "Raleway";
	text-align: center;
}

#container{
	float : left;
}

#properties{
	font-family: "SQMarket-regular","Helvetica Neue",sans-serif;
	
}

#properties li{
	list-style-type: none;
}

#props input{
	clear:right;
}

.contextMenu {
    position: absolute;
    width: 150px;
    z-index: 99999;
    border: solid 1px #CCC;
    background: #EEE;
    padding: 0px;
    margin: 0px;
    display: none;
}

.contextMenu LI {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.contextMenu A {
    color: #333;
    text-decoration: none;
    display: block;
    line-height: 20px;
    height: 20px;
    background-position: 6px center;
    background-repeat: no-repeat;
    outline: none;
    padding: 1px 5px;
}

.contextMenu LI.hover A {
    color: #FFF;
    background-color: #3399FF;
}

.contextMenu LI.disabled A {
    color: #AAA;
    cursor: default;
}

.contextMenu LI.hover.disabled A {
    background-color: transparent;
}

.contextMenu LI.separator {
    border-top: solid 1px #CCC;
}

#canvas{
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: solid 1px #333;
	float : left;
	margin : 10px;
}
p {
	text-align: center;
}

#menu{
	font-family: "Open Sans","Droid Sans",Arial,sans-serif;
	font-size : 13px;
}

#menu ul{
	list-style-type: none;
	padding : 0;
}

#menu li{
	float : left;
	padding-right : 10px;
	cursor:pointer;
}

div#menu li:hover{
	color: #aaa;
}

.menuOpts{
	display : none;
	position : absolute;
	background: rgba(11, 11, 11, 0.9);
	width :150px;
	z-index : 2;
}
.menuOpts li{
	clear : both;
	text-decoration : underlined;
	font-size : 12px;
	color: #fff;
	padding: 2px 10px;
	line-height: 1.5;
	font-weight: normal;
	cursor:pointer
}

span.clear{
	clear: left; display: block;
}

#tab{
	height : 20px;
}

#tab li{
	list-style-type: none;
	float :left;
	margin-right : 20px;
	cursor:pointer;
	font-size: 12px;
	font-family: Arial;
}

.boxclose{
    float:right;
    cursor:pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 15px;
    background: #605F61;
    font-size: 11px;
    display: inline-block;
    margin-left: 5px;  
}

.boxclose:before {
    content: " x ";
}