<ul>
	<li id="fileMenu">
		File
		<ul id="fileOpts" class="menuOpts">
			<li id="openOpt"><div class="openOpt">Open</div><input type="file" id="fileOpen" name="fileOpen"></li>
			<li id="saveOpt">Save</li>
			<li id="exportOpt" class="subMenu">
				Export...
				<ul id="exportOpts" class="menuOpts subMenuOpts">
					<li id="exportSVG">As SVG</li>
				</ul>
			</li>
			<li>Exit</li>
		</ul>
	</li>
	<li id="editMenu">
		Edit
		<ul id="editOpts" class="menuOpts">
			<li id="convertOpt">Convert..</li>			
			<li id="validationOpt">Enable Validation</li>			
		</ul>
	</li>
	<li id="aboutMenu">
		About
		<ul id="aboutOpts" class="menuOpts">
			<li id="infoOpt">Info</li>						
		</ul>
	</li>
</ul>
<span class="clear"></span>